<div class="dropdown" id="controls">
  <%= button_to "Home", index_path, method: :get ,class: 'button'%>
  <%= button_to "Books", book_list_path, method: :get,class: 'button'%>
</div>

<%if @books %>

 <div id ="grid">
 <div class="card-deck"> 
 <% @books.each do |books| %>
  
    <div class="card">
      <img class="card-img-top" src="<%=books.small_thumbnail%>" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title"><%=books.title%></h4>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= link_to "Return", return_book_path(:isbn => books.isbn),method: :delete, :class => 'btn btn-primary'%></small>
      </div>
    </div>

  <%end%>
</div>
<%end%>

