<div class="dropdown" id="controls">
  <%= button_to "Home", index_path, method: :get ,class: "button"%>
  <%= button_to "Books", book_list_path, method: :get,class: "button"%>
</div>

<%if @books %>

 <div id ="grid">
  <% @books.each do |books| %>
  <ul>
    <li>
      <img src="<%=books.small_thumbnail%>" />
      <h3><%=books.title%></h3>
        <%= link_to "Return", return_book_path(:isbn => books.isbn),method: :delete, :class => 'btn btn-primary'%>
    </li>
  </ul>
  <%end%>
</div>
<%end%>
