<!DOCTYPE html>
<html>
  <head>
    <title>My Library</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= yield :javascripts %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="bg">
    </div>
    <div id="nav">
      <% if current_user %>
        <font color="white">Signed in as <strong><%= current_user.name %></strong>!</font>
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
    <div>
    <%= yield %>
    </div>
  </body>
</html>
